<!DOCTYPE html>
<html>
  <body>
    <h1>Book Ticket </h1>
    <h3><a href="/trains/schedule">Back to List</a></h3>
    <h4>Trip Information</h4>
    <form method="POST", action="/users/booktrain/success">
      <table border="1" style="text-align: left">
            <tr>
                <th>User E-mail</th>
                <td name="userEmail" value="<%=dataUser.email%>"><%=dataUser.email%></td>
              </tr>
            <tr>
              <th>Trip Id</th>
              <td><%=dataTrainRoute.id%></td>
            </tr>
            <tr>
              <th>Train Name</th>
              <td><%=dataTrainRoute.Train.trainName%></td>
            </tr>
            <tr>
              <th>From</th>
              <td><%=dataTrainRoute.Route.departure%></td>
            </tr>
            <tr>
              <th>To</th>
              <td><%=dataTrainRoute.Route.arrival%></td>
            </tr>
            <tr>
              <th>Departure Time</th>
              <td><%= convertTime(dataTrainRoute.departureTime)%></td>
            </tr>
            <tr>
              <th>Seat Left</th>
              <td><%= seatLeft%></td>
            </tr>
            <tr>
              <th>Reserved Seat</th>
              <td><%= reservedSeat%></td>
            </tr>
            <tr>
                <input type="text" name="trainRouteId" value="<%=dataTrainRoute.id%>" hidden>
                <input type="text" name="userId" value="<%=dataUser.id%>" hidden>
                <input type="text" name="departureTime" value="<%=departureDateTime%>" hidden>
                <input type="text" name="seatReserved" value="<%=reservedSeat%>" hidden>
            </tr>
            <% if (err == undefined) {%>
              <tr><td colspan="2"><input type="submit" value="Book Train!"></td></tr>
            <%} else {%>
              <tr><td colspan="2"><%=err%> <a href="/trains/schedule">Back To Train Schedule</a></td></tr>
            <%}%>
      </table>
      <br>
    </form>
    
  </body>
</html>