<!DOCTYPE html>
<html>

  <body>
    <h1>Users List</h1>
    <h3><a href="/">Return to Home</a></h3>
    <h3><a href="/users/add">Add new User</a></h3>
    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>E-mail</th>
          <th>Password</th>
          <th>Role</th>
          <th>Point</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <% dataUsers.forEach((user)=>{ %>
        <tr>
            <td><%=user.id%></td>
            <td><%=user.email%></td>
            <td><%=user.password%></td>
            <td><%=user.role%></td>
            <td><%=user.point%></td>
            <td><a href="/users/edit/<%=user.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=user.id%>">Delete</a></td>
        </tr>
      <%})%>
    </table>
  </body>

</html>